
.app__wrapper {
	margin-top: 4icmi20px;	
	margin-bottom: 100px;
}



.video__item {
	
	position: relative;

	.overlay {
		position: absolute;
		width: 90%;
		height: 49%;
	}	

	.video__item__video{
		width: 100%;
		margin-top: -13px;
	}

	.video__item__title {
		margin: 0;
		margin-bottom: 10px;
	}

	.video__item__description {
		margin-bottom: 10px;
		text-align: justify;
	}
}

.video_player__wrapper {

	.video_player {
		border: 1px solid gray;
		padding-top: 15px;
		
		.video_player__video {
			width: 100%;
		}

		.video_player__description {
			word-wrap: break-word;
		}
	}

	.video__item {
		
		.video__item__video {
			margin-top: -44px;
		}

		.video__item__title {
			font-size: 15px;
		}

		.video__item__description {
			font-size: 10px;
			word-wrap: break-word;
			overflow: hidden;
			  text-overflow: ellipsis;
			  display: -webkit-box;
			  line-height: 16px;     /* fallback */
			  max-height: 32px;      /* fallback */
			  -webkit-line-clamp: 2; /* number of lines to show */
			  -webkit-box-orient: vertical;
		}
	}
}




/* Extra exception screens */
@media screen and (max-width: 320px) {}

/* Small only  aka mobile*/
@media screen and (max-width: 39.9375em) {
	.video__item .video__item__video {
	    width: 100%;
	    margin-top: 0px;
	}

	.col-sm-6.col-md-3.video__item {
	    margin-top: 28px;
	}

	.video_player__wrapper .video__item .video__item__video {
	    margin-top: -30px;
	}
}

/* Medium and up*/
@media screen and (min-width: 40em) {}

/* Medium only aka ipad */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up  aka big ipad and laptops :(*/
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

@media screen and (max-width: 768px) {}